<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Kogii - Android App</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>

            <link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />
            <link rel="stylesheet" href="/static/css/style-xlarge.css" />

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1 style="color: orange"><a href="/">Kogii</a></h1>
				<nav id="nav">
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="/how">How It Works</a></li>
                        <li><a href="/map">Safety Map</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="/reserve" class="button special">Reserve</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url(../images/dark_tint.png), url(../images/android.jpg)";>
				<h2 style="color: orange">Kogii App</h2>
				<p>Control and view live information from Kogii as you cycle.</p>
				<ul class="actions">
					<li>
						<a href="" class="button big">Download for Android</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Intelligent Software</h2>
						<p>Sleek Design - Feature Rich<br> </p>
					</header>
					<div class="row 150%">
                        
                        <div class="4u 12u$(small)">
							<section class="box">
								<i class="icon big rounded color3 fa-bicycle"></i>
								<h3>Speed and Distance Tracking</h3>
								<p>Kogii tells you your speed and how far you've travelled, in real time.</p>
							</section>
						</div>
                        
                        
						<div class="4u 12u$(small)">
							<section class="box">
								<i class="icon big rounded color4 fa-wrench"></i>
								<h3>Customisation</h3>
								<p>Control a range of functions, and rearrange layouts to your own taste.</p>
							</section>
						</div>

						<div class="4u$ 12u$(small)">
							<section class="box">
								<i class="icon big rounded color5 fa-exclamation-triangle"></i>
								<h3>SafetyGauge</h3>
								<p>Live alerts when you're cycling in zones notorious for cyclist endangerment.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Kogii. All rights reserved.</li><br>
                                                                <li><a href="/">Home</a></li>
<br>
								
							</ul>
						</div>
						
					</div>
				</div>
			</footer>

	</body>
</html>