<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Kogii - FAQ</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>

        <link rel="stylesheet" href="/static/css/skel.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/style-xlarge.css" />

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1 style="color: orange"><a href="/">Kogii</a></h1>
				<nav id="nav">
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="/how">How It Works</a></li>
						<li><a href="/appK">Kogii App</a></li>
                        <li><a href="/map">Safety Map</a></li>
						<li><a href="/reserve" class="button special">Reserve</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2 style="color: orange">Frequently Asked Questions</h2>
						<p>Most of our top questions are answered here.</p>
					</header>
                    							<header>
                                <hr />
								<h3>How long does the battery last?</h3>
								<p>Kogii is powered by  a rechargable lithium cell battery with an expected battery life of 7 hours. You can even charge your phone from Kogii incase of an emergency. Just don't drain it and cycle without a light after dark!</p>
							</header>
                    
                                        
                            <header>
                                <hr />
								<h3>Does it take long to charge?</h3>
								<p>Kogii takes around an hour and a half to reach full charge capacity if the battery is fully displaced. It charges from a USB port, so it can easily be topped up on the go.</p>
							</header> 
                            
							<header>
                                <hr />
								<h3>How much does Kogii cost?</h3>
								<p>The final price to to be determined, but the current expected cost is €30.</p>

							</header>
                            
							<header>
                                <hr />
								<h3>What data is collected?</h3>
								<p>All data collected is totally anonymous. We collect the rear proximity, lateral proximity, GPS coordinates, the time and the date. All data is stored in a secure database, but in the unlikely event of a catastrophic breach, no indentifiable data will be available to attackers. You are free to opt-out of any data collection and to use Kogii as-is!</p>
							</header>                            
                            
							<header>
                                <hr />
								<h3>What is inside Kogii?</h3>
								<p>A battery, the main circuit board, two ultrasonic sensors and an LED!</p>
							</header>  
                            
 							<header>
                                <hr />
								<h3>Where can I get Kogii?</h3>
								<p>When available, you can get a Kogii light directly from this website.</p>
							</header> 
                    
                    
                            <header>
                                <hr />
								<h3>Is it really that much safer?</h3>
								<p>Yes! Instead of a constant flash or consistently on light, Kogii draws more attention to the cyclist as the driver can tell their actions are affecting the light. The long term benefits of data collection will further improve cycling for you and everyone else.</p>
							</header> 
                    
                    
                            <header>
                                <hr />
								<h3>How bright is the light?</h3>
								<p>Very bright, but not so much that it dazzles drivers approaching from behind.</p>
							</header> 
                    
                    
                            <header>
                                <hr />
								<h3>Is it waterproof?</h3>
								<p>Currently it is not, it is water resistant, a more water resistant or waterproof model is currently being evaluated. It is the intention for this model to be the first production unit.</p>
							</header> 
                    
				</div>
			</section>
        
        
        
        			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Didn't answer your question?</h2>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post">
						<div class="row uniform">
							<div class="12u$">
								<ul class="actions">
									<li><input value="Email Us" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>
        

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Kogii. All rights reserved.</li><br>
                                                                <li><a href="/">Home</a></li>

							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>