<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Kogii - How it works</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>

			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1 style="color: orange"><a href="/">Kogii</a></h1>
				<nav id="nav">
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="/appK">Kogii App</a></li>
                        <li><a href="/map">Safety Map</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="/reserve" class="button special">Reserve</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2 style="color: orange">How it works</h2>
						<p>A clever solution to a complex problem</p>
					</header>
                
                    <h3>Dynamic Flashing</h3>
                    <p><span class="image left"><img src="/images/lightfix.png" alt="" /></span>Kogii is equipped with two separate ultrasonic sensors. The rear facing sensors detect vehicles to the rear, while the lateral sensor detects vehicles at a 270 degree angle to the cyclist. The rear facing sensor determines the flashing rate of the LED based on proximity, while the lateral sensor records data for data analysis. Kogii's mission is to draw correllations between cyclist-to-vehicle proximity and cyclist accident rates. </p>
                    <br> <br>  
                    
                    <h3>The Kogii App</h3>
                    <p><span class="image left"><img src="/images/android-4096-black%20copy.png" alt="" /></span>Kogii will funtion as a standalone light, but it will also pair with an Android device and the Kogii app will diplay visual alerts for vehicles that are very close to Kogii. The Kogii app functions as the access point for data collection. All anonymous data stored in the Android app will be send to our secure database. <br>Any privacy concerns are addressed <a href="faq.html"><strong>here.</strong></a> </p>
                    
                    
                    <br> <br> 
                    <h3>Data Analysis and Representation</h3>
                    <p><span class="image left"><img src="/images/map%20copy.png" alt="" /></span>The more Kogii lights there are, the more granular the data about specific roads becomes. The data collection process will be a an ongoing process. All collected data will be compiled and mapped to visualise the safety of roads around you. Kogii will launch in Dublin, with expansion planned to many other major cities. The ultimate goal, is for Kogii to visually illustrate dangerous roads, but also to understand why they're dangerous. Establishing quantitative data to measure why this is fundamental in improving cyclist safety.</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Kogii. All rights reserved.</li><br>
                                <li><a href="/">Home</a></li>

							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>