<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Kogii - A Smarter Smart Light</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
{#		<noscript>#}
            <link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />
            <link rel="stylesheet" href="/static/css/style-xlarge.css" />
{#		</noscript>#}
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1 style="color: orange"><a href="/">Kogii</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/how">How It Works</a></li>
                 		<li><a href="/appK">Kogii App</a></li>
                        <li><a href="/map">Safety Map</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="/reserve" class="button special">Reserve</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2 style="color: orange">Kogii</h2>
				<p>A Smarter Smart Light</p>
				<ul class="actions">
					<li>
						<a href="https://www.youtube.com/watch?v=2TEBgc-2u9I" class="button big">Watch It In Action</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Improved Visibility</h2>
						<p>Kogii is a light. But it improves safety by responding and reacting to improve your visibility.<br> </p>
					</header>
					<div class="row 150%">
                        
                        <div class="4u 12u$(small)">
							<section class="box">
								<i class="icon big rounded color9 fa-eye"></i>
								<h3>Live Awareness</h3>
								<p>Kogii comes with an Android app. If desired, mount your phone to your handlebars for additional awareness.</p>
							</section>
						</div>
                        
                        
						<div class="4u 12u$(small)">
							<section class="box">
								<i class="icon big rounded color1 fa-lightbulb-o"></i>
								<h3>Variable Light</h3>
								<p>Kogii constantly monitors it's surroundings. When it detects vehicles, the light will dynamically flash to enchance visibility.</p>
							</section>
						</div>

						<div class="4u$ 12u$(small)">
							<section class="box">
								<i class="icon big rounded color6 fa-exclamation-triangle"></i>
								<h3>SafetyGauge</h3>
								<p>In real time, the Kogii Android app will inform you of the level of danger on a specific road based on historical data.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>Making The Roads A Safer Place</h2>
						<p>Kogii monitors proximal and GPS data as you cycle. We use that data to analyse <br> and predict dangerous roads. Our goal is to improve road safety for everyone.  </p>
					</header>
					<section class="profiles">
						<div class="row">
							<section class="3u 6u(medium) 12u$(xsmall)">
								<img src="/static/images/cmm.png" alt="" />
								<h4>Contribute Together</h4>
								<p>Your data helps other cyclists.</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) ">
								<img src="/static/images/android-4096-black%20copy.png" alt="" />
								<h4>Built with Android</h4>
								<p>Powerful, accessible and familiar.</p>
							</section>
							<section class="3u 6u(medium) 12u$(xsmall) ">
								<img src="/static/images/ok%20copy.png" alt="" />
								<h4>Effortless</h4>
								<p>Kogii handles everything for you.</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(xsmall) ">
								<img src="/static/images/map%20copy.png" alt="" />
								<h4>Safety Map</h4>
								<p>Visualise your contributions.</p>
							</section>
						</div>
					</section>
					<footer>
						<p>Kogii uses data to build up a network of GPS coordinates wth corresponding proximal values. <br>All data collected by Kogii remains totally anonymous.</p>
						<ul class="actions">
							<li>
								<a href="/templates/map.html" class="button big">View Safety Map</a>
							</li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>We'd like to hear from you</h2>
						<p>Any questions, comments, critiques? Send them our way.</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post" id="emailme">
						<div class="row uniform">
							<div class="12u$">
								<ul class="actions">
									<li><input value="Send Message" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Kogii. All rights reserved.</li><br>
								<li><a href="/">Home</a></li>

							</ul>
						</div>
						
					</div>
				</div>
			</footer>

	</body>
</html>