<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Kogii - Reserve Yours</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>

			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-xlarge.css" />

	</head>
	<body class="landing">
			<header id="header">
				<h1 style="color: orange"><a href="/">Kogii</a></h1>
				<nav id="nav">
					<ul>
                        <li><a href="/index">Home</a></li>
						<li><a href="/how">How It Works</a></li>
						<li><a href="/app">Kogii App</a></li>
                        <li><a href="/map">Safety Map</a></li>
						<li><a href="/faq">FAQ</a></li>
					</ul>
				</nav>
			</header>
			<section id="banner" style="background-image: url(../images/dark_tint.png), url(../images/night.jpg)">
				<h2 style="color: orange">Buy Kogii</h2>
				<p>Reservations and Orders will be available soon. <br><br>
                    We still have a few things to tidy up!
                </p>
			</section>

			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Kogii. All rights reserved.</li><br>
                                                                <li><a href="/">Home</a></li>
<br>
                                <br><br>
							</ul>
						</div>
					</div>
				</div>
			</footer>
	</body>
</html>